<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>
  | **Tiêu chí**             | **SOAP**                                                          | **REST**                                                            |
  | ------------------------ | ----------------------------------------------------------------- | ------------------------------------------------------------------- |
  | **Kiến trúc**            | Stateful **hoặc** Stateless (tùy cấu hình)                        | **Stateless** (không lưu trạng thái)                                |
  | **Định dạng dữ liệu**    | Chỉ hỗ trợ **XML**                                                | Hỗ trợ **JSON, XML, HTML, plain text**,...                          |
  | **Tính linh hoạt**       | Chủ yếu dùng **POST**, ít linh hoạt                               | Dùng đầy đủ các phương thức **HTTP**: GET, POST, PUT, DELETE, PATCH |
  | **Tính bảo mật**         | Hỗ trợ **WS-Security** (mạnh, chuẩn doanh nghiệp)                 | Dùng **HTTPS**, bảo mật phụ thuộc vào giao thức                     |
  | **Hiệu suất**            | Chậm hơn do xử lý XML phức tạp                                    | Nhanh hơn, nhẹ hơn do hỗ trợ JSON                                   |
  | **Khả năng mở rộng**     | Phù hợp với hệ thống lớn, chuẩn mực cao                           | Phù hợp với API web hiện đại, ứng dụng mobile                       |
  | **Khả năng tương thích** | Tốt với **WS-* standards*\*, dùng trong hệ thống doanh nghiệp lớn | Dễ tích hợp, phổ biến trong web/mobile hiện nay                     |
</h3>

</body>
</html>