<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>
        Spring Security giúp bảo vệ ứng dụng Java bằng cách xử lý xác thực và phân quyền người dùng.

        4 tính năng quan trọng:
        - Xác thực người dùng (Login qua form, JWT, OAuth2,...).

        - Phân quyền truy cập (ROLE_USER, ROLE_ADMIN,...).

        - Chống tấn công bảo mật (CSRF, XSS, Clickjacking,...).

        - Tích hợp dễ với các hệ thống khác (Google, Facebook, LDAP,...).
    </p>
</body>
</html>