<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Bai 1</h1>
    <p>
        Logging là gì?
        Logging (ghi log) là quá trình ghi lại các thông tin, sự kiện, hành động hoặc lỗi xảy ra trong quá trình chạy của một ứng dụng vào một file hoặc hệ thống theo dõi. Thông tin log có thể bao gồm:

        Thời gian xảy ra sự kiện

        Mức độ sự kiện (info, warning, error, debug…)

        Mô tả sự kiện hoặc lỗi

        Thông tin hệ thống hoặc người dùng liên quan

         Tại sao cần Logging trong ứng dụng?
        1. Hỗ trợ gỡ lỗi (Debugging)
        Khi ứng dụng gặp lỗi, log là “dấu vết” giúp developer xác định nguyên nhân gây lỗi. Thay vì mò mẫm, chỉ cần nhìn vào log để biết chương trình đã làm gì trước khi "toang".

        2. Giám sát hoạt động hệ thống (Monitoring)
        Log giúp theo dõi trạng thái hoạt động của hệ thống theo thời gian thực hoặc lịch sử. Từ đó có thể phát hiện hành vi bất thường, lỗi tiềm ẩn, hoặc hiệu suất chậm.

        3. Truy vết sự kiện bảo mật (Security Audit)
        Log là bằng chứng khi cần điều tra các hành vi bất thường hoặc vi phạm bảo mật. Ví dụ: truy cập trái phép, thao tác nguy hiểm, hay dữ liệu bị thay đổi bất thường.
    </p>
</body>
</html>