<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>bài 2</h1>
    <p>
        | Mã Trạng Thái | Tên Mã                | Mô Tả Ngắn Gọn                              |
        | ------------- | --------------------- | ------------------------------------------- |
        | 200           | OK                    | Yêu cầu thành công, server trả về dữ liệu.  |
        | 201           | Created               | Tạo tài nguyên mới thành công.              |
        | 204           | No Content            | Thành công nhưng không có nội dung trả về.  |
        | 400           | Bad Request           | Yêu cầu không hợp lệ hoặc thiếu dữ liệu.    |
        | 401           | Unauthorized          | Chưa xác thực hoặc không có quyền truy cập. |
        | 403           | Forbidden             | Bị từ chối truy cập dù đã xác thực.         |
        | 404           | Not Found             | Không tìm thấy tài nguyên yêu cầu.          |
        | 405           | Method Not Allowed    | Phương thức HTTP không được hỗ trợ.         |
        | 500           | Internal Server Error | Lỗi phía server không xác định.             |
        | 503           | Service Unavailable   | Server đang bảo trì hoặc quá tải.           |

    </p>
</body>
</html>